
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&family=Roboto+Mono&display=swap');


* {
  box-sizing: border-box;
}

ul, li {
  padding: 0 !important;
  margin: 0 !important;
}